 .u-section-1 {
  background-image: url("images/110028921-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1536px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1050px;
  margin: 14px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  font-size: 3.75rem;
  margin: 0 15px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 367px;
  background-image: url("images/registan-square.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 466px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 53px;
}

.u-section-1 .u-text-2 {
  margin: 99px 0 0 15px;
}

.u-section-1 .u-text-3 {
  margin: 14px 0 0 15px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 187px 60px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-text-5 {
  margin: 27px auto 0 370px;
}

.u-section-1 .u-list-1 {
  margin: 0 0 49px 370px;
}

.u-section-1 .u-repeater-1 {
  min-height: 391px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-6 {
  padding: 16px 30px;
}

.u-section-1 .u-image-2 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-7 {
  padding: 16px 30px;
}

.u-section-1 .u-image-3 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-8 {
  padding: 16px 30px;
}

.u-section-1 .u-image-4 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-9 {
  padding: 16px 30px;
}

.u-section-1 .u-image-5 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-10 {
  padding: 16px 30px;
}

.u-section-1 .u-image-6 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-11 {
  padding: 16px 30px;
}

.u-section-1 .u-image-7 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-12 {
  padding: 16px 30px;
}

.u-section-1 .u-image-8 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-13 {
  padding: 16px 30px;
}

.u-section-1 .u-image-9 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-14 {
  padding: 16px 30px;
}

.u-section-1 .u-image-10 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-15 {
  padding: 16px 30px;
}

.u-section-1 .u-image-11 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-16 {
  padding: 16px 30px;
}

.u-section-1 .u-image-12 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-17 {
  padding: 16px 30px;
}

.u-section-1 .u-image-13 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-18 {
  padding: 16px 30px;
}

.u-section-1 .u-image-14 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-19 {
  padding: 16px 30px;
}

.u-section-1 .u-image-15 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-20 {
  padding: 16px 30px;
}

.u-section-1 .u-image-16 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-21 {
  padding: 16px 30px;
}

.u-section-1 .u-image-17 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-16 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-22 {
  padding: 16px 30px;
}

.u-section-1 .u-image-18 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-17 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-23 {
  padding: 16px 30px;
}

.u-section-1 .u-image-19 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-18 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-24 {
  padding: 16px 30px;
}

.u-section-1 .u-image-20 {
  height: 345px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-19 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 11px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 402px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 193px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 412px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 412px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 305px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-image-2 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-4 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-5 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-6 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-7 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-8 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-9 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-10 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-11 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-12 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-13 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-14 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-15 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-16 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-17 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-18 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-19 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-20 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 316px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 234px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-16 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 446px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 474px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 176px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-16 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-17 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-18 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-19 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-20 {
    height: 351px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 298px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 111px;
  }

  .u-section-1 .u-image-2 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-16 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    height: 216px;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 216px;
    margin-left: initial;
  }
}